## WPF (.NET) build artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsp
*.vspscc
*.vssscc
*.pidb
*.pdb
*.cache
*.mdb
*.opendb
*.VC.db

## Common build folders
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]uild[Ll]og.*
*.log

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

## Rider-specific
.idea/
*.sln.iml

## Visual Studio
.vs/
*.csproj.user

## Temporary files
*.tmp
*.bak
*.old
*.orig

## Resharper
_ReSharper*/
*.DotSettings.user

## Windows thumbnail cache
Thumbs.db
ehthumbs.db

## Mac system files
.DS_Store

## ----- EXCEÇÕES: Sempre manter a pasta Libs -----
!Libs/
!Libs/**
