## === Build artifacts ===
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
artifacts/
*.dll
*.pdb
*.cache
*.log
*.tmp
*.bak

# Ignora executáveis globalmente
*.exe

## === NuGet ===
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json

## === IDE settings ===
.vs/
.idea/
*.suo
*.user
*.csproj.user
*.sln.docstates
*.sln.iml

## === Resharper ===
_ReSharper*/
*.DotSettings.user

## === OS generated ===
.DS_Store
Thumbs.db
ehthumbs.db

## === Rider launch ===
*.pidb
*.opendb
*.VC.db

# Mas permite os executáveis dentro de Libs/FFmpeg
!Libs/FFmpeg/**/*.exe

# Permite todo conteúdo da pasta Libs/FFmpeg
!Libs/FFmpeg/
!Libs/FFmpeg/**
